#btn-add:hover {
    color: white;
    background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
}

.btn-deleteTask:hover {
background-color: rgb(241, 31, 31);
}

.btn-completeTask:hover {
    background-color: rgb(91,208,106);
}

body {
    background-color: rgb(218, 218, 218);
    text-align: center;
}

#completeTasksOut {
    background-color: rgb(50, 177, 216);
}
