
.btn-deleteTask {
background-color: rgb(241, 31, 31);
}

.btn-completeTask {
    background-color: rgb(94, 168, 92);
}

body {
    background-color: bisque;
    text-align: center;
}

#completeTasksOut {
    background-color: rgb(50, 177, 216);
}